/* bodystyle.css */
.carcass {
    width: 1440px;
    height: 1912px;
    color: rgb(138, 29, 29);
    background: peru;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    
}

.tete {
    /* width: 1440px; */
    /* height: 350px; */
    /* border:3px dotted white; */
    color:#f9fafa;
    background: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:100px;
    padding-right: 100px;
    padding-top: 30px;
}

.tete-left {
    /* width: 720px; */
    /* border:3px dotted green; */
}

p.loud {
    color: #f9fafa;
    font-size: 48px;
    font-weight: 900;
}

p.soft {
    color: #e5e7eb;
    font-size: 18px;
}

.t-l-logo {
    color:#f9fafa;
    font-size:24px;   
}

button.tl {
    color:white;
    background: #3882f6;
    font-weight: 800;
    padding:6px 18px;
    border-radius: 8px;

}

.tete-right {
    /* width: 720px; */
    /* border: 3px dashed red; */
    display: flex;
    flex-direction:column;
    align-items:flex-end;
}

.navagation {
    /* border:2px solid cyan; */
    display: flex;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
}

#star  {
    width:600px;
    height:300px;
    border: none;
    border-radius: 1px;
    margin-left: 100px;
}


/* End of tete css definitions  */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
/* Begin chest css definitions */

.chest {
    /* height: 200px; */
    background: white;
}

.chesthi {
    color:black;
    /* background: lightblue; */
    display:flex;
    justify-content: center;
}

p.banner {
    font-size: 48px;
    font-weight: 600;
}

.chestlo {
    /* background: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: baseline;
}

img  {
    border: 8px solid #3882f6;
    border-radius: 16px;
}

figcaption {
    text-align:center;
    font-size: 18px;
    font-weight: 100;
    font-style:oblique;
}


/* end of chest */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* beginning of torso */


.torso {
    /* height: 300px; */
    color: #1f2937;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belly {
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.quote  {
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
}

.attrib {
    text-align: right;
    font-size: 18px;
    font-weight:800;
}

/* end of torso */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* beginning of legs */

.legs {
    /* border:3px solid blue; */
    background:white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.bbox   {
    margin: 10px;
    width:1000px;
    /* border: 2px dotted black; */
    border-radius: 12px;
    color: white;
    background: #3882f6;
    display: flex; 
    justify-content: space-around;
    align-items: baseline;
}

.rleg {
    margin:10px;
    /* border:2px dashed red; */
}

p.call {
    font-size: 18px;
    font-weight: 500;
}
p.even {
    font-size: 16px;
    font-weight: 400;
}




.lleg {
    margin: 10px;
    /* border:2px dashed green; */
}

#legbutton {
    border:3px solid white;
    border-radius: 12px;
    padding:5px 50px;
    color: white;
    background: #3882f6;
    font-size: 18px;
    font-weight: 800;
}


.feet {
    padding:40px;
    background: #1f2937;
    display: flex;
    justify-content: center;
}
footer {
    color: white;
    background: #1f2937;
    font-size: 18px;
    text-justify: center;
}
