/* bodystyle.css */
.carcass {
    width: 1440px;
    height: 1912px;
    color: rgb(138, 29, 29);
    background: grey;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    
}

.tete {
    width: 1440px;
    height: 350px;
    color:#f9fafa;
    background: #1f2937;
    display: flex;
    flex-direction: row;
    padding-left:100px;
    padding-right: 100px;
    padding-top: 30px;
}

.tete-left {
    width: 720px;
}

p.loud {
    color: #f9fafa;
    font-size: 48px;
    font-weight: 900;
}

p.soft {
    color: #e5e7eb;
    font-size: 18px;
}

,t-l-logo {
    color:#f9fafa;
    font-size:24px;   
}

.tete-right {
    width: 720px;
}

/* End of tete css definitions  */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
/* Begin chest css definitions */

.chest {
    height: 200px;
    background: white
}

.chesthi {
    color:black;
    background: lightblue;
    display:flex;
    justify-content: center;
}

p.banner {
    font-size: 48px;
    font-weight: 600;
}

.chestlo {
    background: lightgreen;
    display: flex;
    justify-content: center;
}

.box {
    height: 75px;
    width:75px;
    color: lightgoldenrodyellow;
    border:5px solid #3882f6;
    background: darkblue;
}

/* end of chest */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* beginning of torso */


.torso {
    height: 300px;
    color: #1f2937;
    background: #e5e7eb;

}


/* end of chest */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* beginning of legs */

.bbox   {
    height: 75;
    width: 1000;
    color: white;
    background: #3882f6;
}