/* bodystyle.css */
.carcass {
    width: 1440px;
    height: 1912px;
    background: palegoldenrod;
    .font-size: 28px;
}

.tete {
    width: 1440px;
    height: 350px;
    color:#f9fafa;
    background: #1f2937;
}

.tete-left {
    width: 720px;
    border:5px solid lightgreen;
}

.tete-right {
    width: 720px;
    border: 5px solid lightblue;
}