/* bodystyle.css */
.carcass {
    width: 1440px;
    height: 1912px;
    color: rgb(138, 29, 29);
    background: grey;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
/* Begin chest css definitions */

.chest {
    /* height: 200px; */
    background: white
}

.chesthi {
    color:black;
    /* background: lightblue; */
    display:flex;
    justify-content: center;
}

p.banner {
    font-size: 48px;
    font-weight: 600;
}

.chestlo {
    /* background: lightgreen; */
    display: flex;
    justify-content: center;
}

.box {
    height: 100px;
    width: 141px;
    margin: 20px;
    border-radius: 10px;
    color: lightgoldenrodyellow;
    border:5px solid #3882f6;
    background: #1f2937;
}

.feet {
    color: darkgreen;
    background: #1f2937;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin: 30px;
    color: white;
    background:  #1f2937;
    font-size: 18px;
    text-justify: center;
}
