/* head-left.css */

.head-left {
    background: #1f2937;
    color:#f9faf8;
    width: 720px;
    font-size: 48px;
/* 
    height: 300px;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 20px;
 */

}
/* 
.logo {
    max-width: 720px;
    color:#f9faf8;
    font-size:24px;
    font-weight: 900;
}

.barker {
    width: 720px;
    height: 200px;
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.sub-barker {
    max-width: 720px;
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    color: white;
    background: #3882f6;
} */