/* carcass.css */

body {
    color:darkolivegreen;
    background: ivory;
    width:1440px;
    font-size: 32px;
}

.tete {
    color:lightseagreen;
    background: darkslateblue;
    width: 1440px;
    height: 300px;
    font-size: 22px;
}

.leftovers {
    color:darkblue;
    background: lightgreen;
    font-size: 22px;
}
