/* landing.css */
    /* wrapper */
/* header */

.carcass {
    width 1440px;
}

.tete {
    /* width:200px; */
    height: 100px;
    color: white;
    font-size: 50px;
    background: blueviolet;
    border:3px  dashed black;
}

.chest {
    height: 100px;
    color: white;
    font-size: 50px;
    background: blueviolet;
    border:3px  dashed palegoldenrod;
}

.torso {
    height: 100px;
    color: white;
    font-size: 50px;
    background: blueviolet;
    border:3px  dashed palegoldenrod;
}

.legs {
    height: 100px;
}

.feet {
    height: 100px;
    color: white;
    font-size: 50px;
    background: blueviolet;
    border:3px  dashed palegoldenrod;
}